*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    }

.container{
    max-width: 1000px;

    margin: auto;
}



header{
    background-color: #48c5ce;
    text-align: center;
    color: white;
    padding: 10px;
}


.title{
    font-size: 26px;
    }


    section{
      padding: 10px;
      background-image: url(../imgs/people.jpg);
      background-size: cover;
      overflow: hidden;
    }

    .formconteiner{
        max-width: 230px;
        background-color: #ffffffbb;
        padding: 20px;
        float: right;
    }

    h2{
        font-size: 16px;
    }

    .mb{
        margin-bottom: 15px;
    }

    input, select {
        border: none;
        width: 100%;
        box-sizing: Border-box;
        padding: 10px;
        margin-bottom: 10px;

    }

    input[type="submit"]{
        color: white;
        background-color: #3aa7af;
        font-weight: bold;
    }

    select{
        -moz-appearance:none ;
        appearance: none;
        -webkit-appearance: none;
        background-image: url(../imgs/arrow.jpg);
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) center;      
        
    }

    footer{
        background-color: #202121;
        padding: 40px;
        text-align: center;
    }
    .picture{
        width: 160px;
       
    }



    .description{
     color: white;
     display: inline-block;
     text-align: left;
     max-width: 40%;
        
     margin-left: 40px;

    }

    .description h3, .description p{
        margin-bottom: 20px;
    }

    .description h3{
        font-size: 24px;
    }

    @media screen and (max-width: 600px) {
        /* Aqui Dentro fica o código css para modificar */
         
       .formconteiner{
        float: none;
       margin: auto
       }
       }